.ts .speeches {
  overflow-y: scroll;
  height: 400px;
  padding-right: 10px;
}

.ts .speeches .group {
  margin: 10px 0;
}

.ts .speeches .right.group {}

.ts.speeches .speech .avatar {
  box-shadow: none;
}

.ts.speeches .speech .avatar img {
  border-radius: 100%;
}

.ts.menu .item.logout {
  display: none;
}