/* chat content scroll */

.ts .speeches {
  overflow-y: scroll;
  height: 400px;
  padding-right: 10px;
}

/* flex right align */

.ts .speeches .right .speech .group {
  display: flex;
  flex-direction: row-reverse;
}

.ts.menu .item.logout {
  display: none;
}